<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'myConfigs/login.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="shortcut icon" href="{% static 'myConfigs/favicon.ico' %}" type="image/x-icon" />
  </head>
  <body>
    <header>
      <!-- bramd -->
      <div class="brand">
        <img src="{% static 'myConfigs/icons8-stethoscope-50.png' %}" alt="stethoscope" />
        <h3>DoctorFinder</h3>
      </div>

      <nav>
        <ul>
          <li><a href="#">Patient</a></li>
          <li><a href="#">Doctor</a></li>
        </ul>
      </nav>
    </header>

    <!-- header for logbox  -->
    <main>
      <div class="logbox">
        <div class="fullhead">
          <div class="photo">
            <img src="{% static 'myConfigs/icons8-stethoscope-50.png' %}" alt="" />
          </div>

          <h3>Welcome Back</h3>
          <p>Sign in to your DoctorFinder accont</p>
        </div>

        <!-- input1  -->
        <div class="mailpas">
          <p>Email</p>

          <div class="mail">
            <input type="email" placeholder="you@example.com" />

            <i class="fa-solid fa-envelope"> </i>
          </div>

          <!-- input2  -->
          <p>Password</p>

          <div class="mail2">
            <input type="email" placeholder="......" />

            <i class="fa-solid fa-lock"> </i>
          </div>
        </div>
        <button>Sign in</button>

        <div class="footter">
          <p>
            Don't have aan account? <span><a href="#"> Register here</a></span>
          </p>
        </div>
      </div>
    </main>

    <footer class="">
      <p class="flex justify-center items-center">&copy; 2026 DoctorFinder. All rights reserved.</p>
    </footer>
  </body>
</html>
